body
{
    background-color :  #EEB189,;
}

.container-fluid img
{
    width: 150px;
    height: 100px;
}
.container
{
    margin-top: 50px;

}
.container h4
{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(87, 126, 235);
    font-style: italic;
}
.div {
    background-color: burlywood;
}